[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EconDemand"]
	path = EconDemand
	url = https://github.com/cran/EconDemand
[submodule "matrixLaplacian"]
	path = matrixLaplacian
	url = https://github.com/cran/matrixLaplacian
[submodule "NMI"]
	path = NMI
	url = https://github.com/cran/NMI
[submodule "SpectralMap"]
	path = SpectralMap
	url = https://github.com/cran/SpectralMap
